<!--  
    <div class="col-sm-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <img src="assets/images/teena.png" class="card-img-top" alt="...">  
                    <div class="card-body">
                      <h5 class="card-title">Teena Abraham</h5>
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      <a href="#" class="btn btn-primary">Profile</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img src="assets/images/vishnu.jpeg" class="card-img-top" alt="...">  
                      <div class="card-body">
                        <h5 class="card-title">Vishnu Mathew</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Profile</a>
                      </div>
                    </div>
                  </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img src="assets/images/david.jpeg" class="card-img-top" alt="...">  
                      <div class="card-body">
                        <h5 class="card-title">David Gutierrez Jimenez</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Profile</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                        <img src="assets/images/farhan.jpeg" class="card-img-top" alt="...">  
                      <div class="card-body">
                        <h5 class="card-title">Farhan Ahamed</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Profile</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                        <img src="assets/images/vimal.jpeg" class="card-img-top" alt="...">  
                      <div class="card-body">
                        <h5 class="card-title">Vimal Mathew</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Profile</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                        <img src="assets/images/carlos.jpg" class="card-img-top" alt="...">  
                      <div class="card-body">
                        <h5 class="card-title">Carlos Molina</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Profile</a>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
    -->
<div class="row m-5">

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 35rem;">
      <img class="card-img-top" src="assets/images/teena.png" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Teena Abraham</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="https://www.linkedin.com/in/teenabraham" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 35rem;">
      <img class="card-img-top" src="assets/images/vishnu.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Vishnu Rajendran Pillai</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="https://www.linkedin.com/in/connectvishnur/" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem;height: 35rem;">
      <img class="card-img-top" src="assets/images/carlos.jpg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Carlos Molina</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="https://www.linkedin.com/in/carlos-junior-molina-acosta-647392121/" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

  <!--second row-->
  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem;height: 35rem;">
      <img class="card-img-top" src="assets/images/vimal.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Vimal Jose Mathew</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="https://www.linkedin.com/in/vimal-jose-mathew-8a7684180" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 35rem;">
      <img class="card-img-top" src="assets/images/farhan.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Farhan Ahamed</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 35rem;">
      <img class="card-img-top" src="assets/images/david.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">David Gutierrez Jimenez</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="https://www.linkedin.com/in/dagutierrez" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

</div>