<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="our-team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Meet Our Invincible Team</h2>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="box-bg">
          <div class="client-img">
            <img src="assets/images/teena.png" class="img-fluid">
          </div>
          <div class="details">
            <h4 class="text-center">Teena Abraham</h4>
            <h6 class="text-center">Developer</h6>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore</p>
          </div>
          <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>

              <li><a href="https://www.linkedin.com/in/teenabraham"><i class="fab fa-linkedin-in"></i></a></li>

            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="box-bg">
          <div class="client-img">
            <img src="assets/images/vishnu.png" lass="img-fluid">
          </div>
          <div class="details">
            <h4 class="text-center">Vishnu Mathew</h4>
            <h6 class="text-center">Developer</h6>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore</p>
          </div>
          <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>

              <li><a href="https://www.linkedin.com/in/connectvishnur/"><i class="fab fa-linkedin-in"></i></a></li>

            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="box-bg">
          <div class="client-img">
            <img src="assets/images/david.png" class="img-fluid">
          </div>
          <div class="details">
            <h4 class="text-center">David Gutierrez Jimenez</h4>
            <h6 class="text-center">Developer</h6>
            <p class="text-center">Cybersecurity Professional in search for a deeper understanding on 
              software intricacies to be able to generate secure environments in today's ultra interconnected world.</p>
          </div>
          <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>

              <li><a href="https://www.linkedin.com/in/dagutierrez"><i class="fab fa-linkedin-in"></i></a></li>

            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="box-bg">
          <div class="client-img">
            <img src="assets/images/farhan.jpeg" class="img-fluid">
          </div>
          <div class="details">
            <h4 class="text-center">Farhan Ahamed</h4>
            <h6 class="text-center">Front End Developer</h6>
            <p class="text-center">The inception of my career saw me as an IT engineer in technical roles like computer 
              networks & project engineer. As years progressed, I fell in love with software development both front-end and 
              back-end in the web & mobile digital sphere. I am a passionate believer in digital space and familiar with several 
              Languages & Frameworks like Oracle PL/SQL, MongoDB, MySQL, Java, C#, NodeJS, ExpressJS, .NET Framework, 
              .NET Core, ASP.NET, HTML, CSS, JavaScript.</p>
          </div>
          <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>

              <li><a href="https://www.linkedin.com/in/farhan876/"><i class="fab fa-linkedin-in"></i></a></li>

            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="box-bg">
          <div class="client-img">
            <img src="assets/images/vimal.png" class="img-fluid">
          </div>
          <div class="details">
            <h4 class="text-center">Vimal Mathew</h4>
            <h6 class="text-center">Developer</h6>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore</p>
          </div>
          <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>

              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>

            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="box-bg">
          <div class="client-img">
            <img src="assets/images/carlos.png" class="img-fluid">
          </div>
          <div class="details">
            <h4 class="text-center">Carlos Molina</h4>
            <h6 class="text-center">Developer</h6>
            <p class="text-center">Software Developer specializing in Java EE. Experienced with all stages 
              of the development cycle for dynamic web projects. Well-versed in numerous programming languages including 
              Java, JSF, JPA, Spring, JavaScript, SQL. Strong background in project management and customer relations.</p>
          </div>
          <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>

              <li><a href="https://www.linkedin.com/in/carlos-junior-molina-acosta-647392121/"><i class="fab fa-linkedin-in"></i></a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>



<!--


<div class="row m-5">

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 35rem;">
      <img class="card-img-top" src="assets/images/teena.png" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Teena Abraham</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="https://www.linkedin.com/in/teenabraham" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 35rem;">
      <img class="card-img-top" src="assets/images/vishnu.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Vishnu Rajendran Pillai</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="https://www.linkedin.com/in/connectvishnur/" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem;height: 35rem;">
      <img class="card-img-top" src="assets/images/carlos.jpg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Carlos Molina</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="https://www.linkedin.com/in/carlos-junior-molina-acosta-647392121/" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

  second row
  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem;height: 35rem;">
      <img class="card-img-top" src="assets/images/vimal.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Vimal Jose Mathew</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="https://www.linkedin.com/in/vimal-jose-mathew-8a7684180" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 35rem;">
      <img class="card-img-top" src="assets/images/farhan.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Farhan Ahamed</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 35rem;">
      <img class="card-img-top" src="assets/images/david.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">David Gutierrez Jimenez</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="https://www.linkedin.com/in/dagutierrez" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>

</div>


    
    <div class="col-sm-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <img src="assets/images/teena.png" class="card-img-top" alt="...">  
                    <div class="card-body">
                      <h5 class="card-title">Teena Abraham</h5>
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      <a href="#" class="btn btn-primary">Profile</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img src="assets/images/vishnu.jpeg" class="card-img-top" alt="...">  
                      <div class="card-body">
                        <h5 class="card-title">Vishnu Mathew</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Profile</a>
                      </div>
                    </div>
                  </div>
                <div class="col-sm-6">
                    <div class="card">
                        <img src="assets/images/david.jpeg" class="card-img-top" alt="...">  
                      <div class="card-body">
                        <h5 class="card-title">David Gutierrez Jimenez</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Profile</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                        <img src="assets/images/farhan.jpeg" class="card-img-top" alt="...">  
                      <div class="card-body">
                        <h5 class="card-title">Farhan Ahamed</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Profile</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                        <img src="assets/images/vimal.jpeg" class="card-img-top" alt="...">  
                      <div class="card-body">
                        <h5 class="card-title">Vimal Mathew</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Profile</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                        <img src="assets/images/carlos.jpg" class="card-img-top" alt="...">  
                      <div class="card-body">
                        <h5 class="card-title">Carlos Molina</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class="btn btn-primary">Profile</a>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>

    -->
