
<div class="row m-5">

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 45rem;">
      <img class="card-img-top" src="assets/images/teena.png" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Teena Abraham</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        
      </div>
      <a href="https://www.linkedin.com/in/teenabraham" target="_blank" class="btn btn-primary m-2">Know more</a>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 45rem;">
      <img class="card-img-top" src="assets/images/vishnu.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Vishnu Rajendran Pillai</h5>
        <p class="card-text">A result-oriented dynamic IT professional with 5 years of experience working extensively on API and user interface testing. Being a test automation engineer, 
          I get to play the role of a tester and developer at the same time.</p>
        
      </div>
      <a href="https://www.linkedin.com/in/connectvishnur/" target="_blank" class="btn btn-primary m-2">Know more</a>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem;height: 45rem;">
      <img class="card-img-top" src="assets/images/carlos.jpg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Carlos Molina</h5>
        <p class="card-text">Software Developer specializing in Java EE. Experienced with all stages of the development cycle for dynamic web projects. 
          Well-versed in numerous programming languages including Java, JSF, JPA, Spring, JavaScript, SQL. Strong background in project management and customer relations.</p>
      </div>
      <a href="https://www.linkedin.com/in/carlos-junior-molina-acosta-647392121/" target="_blank" class="btn btn-primary m-2">Know
        more</a>
    </div>
  </div>

  <!--second row-->
  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem;height: 45rem;">
      <img class="card-img-top" src="assets/images/vimal.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Vimal Jose Mathew</h5>
        <p class="card-text">A result oriented IT enthusiast with strong interest in backend development using Javascript.</p>
        
      </div>
      <a href="https://www.linkedin.com/in/vimal-jose-mathew-8a7684180" target="_blank" class="btn btn-primary m-2">Know more</a>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 45rem;">
      <img class="card-img-top" src="assets/images/farhan.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Farhan Ahamed</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        
      </div>
      <a href="#" class="btn btn-primary m-2" target="_blank">Know more</a>
    </div>
  </div>

  <div class='p-5 bg-light  col-lg-4 mt-3'>
    <div class="card" style="width: 18rem; height: 45rem;">
      <img class="card-img-top" src="assets/images/david.jpeg" alt="Card image cap" style="height: 20rem;">
      <div class="card-body">
        <h5 class="card-title">David Gutierrez Jimenez</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <a href="https://www.linkedin.com/in/dagutierrez" target="_blank" class="btn btn-primary m-2">Know more</a>
    </div>
  </div>
</div>
