<body style="height: 1000px;">
    <!--
    <%- include partials/components/main_nav.ejs %>
    -->
  
      <!--Main Content-->
      <section>
        <div class="jumbotron bg-white  text-center">
          <h1 style="color: #cfab0e; font-family: cursive;">Surveys Shows</h1>
          <h1 style="color: #0e40cf; font-family: cursive;">That</h1>
          <h1 style="color: #cf0e48; font-family: cursive">Surveys</h1>
          <h1 style="color: #cfab0e; font-family: cursive">Never Lie</h1>
          <h6 style="color: #000000,">...Natalie Angier</h6>
          <br>
        </div>
  
        <div class="jumbotron bg-light  text-center " style="padding:80px ;">
          <strong>
            <h2 style="color:#0e40cf ">Ask and you shall succeed</h2>
          </strong>
          <h5>Find out what your customers and audiences across the world want with easy survey templates—and learn what
            to
            do next.</h5>
          <br>
          <p class="lead">
            <a class="btn btn-warning btn-lg" href="/login" role="button">Learn more</a>
          </p>
        </div>
      </section>
  
  
  </body>
  <!--
  <%- include partials/components/bottom_nav.ejs %>
-->